<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SurroundWiringCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <SurroundWiringCalc.Properties.Settings>
            <setting name="speakerCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="speakerImpedance" serializeAs="String">
                <value>4.6</value>
            </setting>
            <setting name="targetImpedance" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="amplifierLoad" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="tolerance" serializeAs="String">
                <value>2</value>
            </setting>
        </SurroundWiringCalc.Properties.Settings>
    </userSettings>
</configuration>
